body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #333;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px;
    text-align: center;
}

#home {
    background-color: #f0f8ff;
}

#profile-image{
    width: 25%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
} 

#portfolio {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}

#portfolio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Project Gallery */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Project Images */
.project-gallery img {
    width: 100%;
    max-width: 50em;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.project-item p {
    font-size: 1rem;
    margin-top: 10px;
    color: #555;
    font-weight: 500;
    text-wrap: pretty;
}

.project-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-gallery, .testimonial-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd;
}

#social-links {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

#social-links h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Styling for social icons */
.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the icons */
.social-icon:hover img {
    transform: scale(1.1); /* Slight zoom-in effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* LinkedIn and GitHub Icon specific styling */
#linkedin img {
    background-color: #0077b5; /* LinkedIn Blue */
    padding: 8px;
}

#github img {
    background-color: #333; /* GitHub Dark */
    padding: 8px;
}